@use '_vars.scss' as *;

body {
    position: relative;
    font-family: $font;
}

a {
    text-decoration: none;
}

.label {
    padding: 3px 20px;
    background-color: white;
    border-radius: 5px;
    margin: 5px;

    font-size: 1rem;
    font-weight: 500;
}